*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    text-align: center;
    color: white;
    

}
div{
    margin: 9px ;
    
}

nav{
    background-color: aqua;
    height: 35px;
    padding-bottom: 4px;
    margin: 9px ;


}

.top{
    display: flex;
    margin: 0;

}

.box1{
    background-color: crimson;
    flex: 1;
    height: 150px;

}

.box2{
    background-color: crimson;
    flex: 2;
    height: 150px;

}

.midle{
    background-color: cadetblue;
    height: 150px;

}

.bottom{
    
    display: flex;
    margin: 0;
    

}

.box4{
    background-color: blueviolet;
    height: 150px;
    flex: 1;
    margin: 9px;

}

.box5{
    background-color: blueviolet;
    height: 150px;
    flex: 1;
    margin: 9px;

}

footer{
    background-color: darkorange;
    height: 35px;
    margin:9px ;
    
}